.base-red {
  color: #d13651;
}
.base-green {
  color: #21c77d;
}
.base-warning {
  color: #faad14;
}
.base-bg {
  background-color: #06080b;
}
.base-bg-box {
  background-color: #141b23;
}
.base-font-title {
  color: #adb3c4;
}
.base-font {
  color: #5e6170;
}
.base-font-light {
  color: #727a87;
}
.base-font-tip {
  color: #777d90;
}
.base-font-normal {
  color: #fff;
}
.base-border-color {
  border-color: #383e4e;
}
.main-color {
  color: #51b7c3;
}
.link {
  color: #1996c4 !important;
}
.base-font-normal-light {
  color: #adb7c2;
}
.base-button {
  background: #3aa8b5;
  color: #fff;
}
.base-title-size {
  font-size: 22px;
}
.base-box {
  border-radius: 10px;
  background: #15161b;
  border: 1px solid #000000;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 35px 55px;
}
.base-color-w {
  color: #fff;
}
.base-text-color {
  color: #b4bacd;
}
.font-bold {
  font-weight: bold;
}
.base-tip-size {
  font-size: 12px;
}
.text-center {
  text-align: center;
}
