.ic-swap-main {
  width: 690px;
  margin: 0 auto;
  color: #727a87;
  .ant-select-selection__rendered {
    line-height: 34px;
  }
  .swap-item {
    background: #141b23;
    border: 1px solid #313b46;
    box-shadow: 0 0 10px 0 rgba(82, 183, 195, 0.3);
    border-radius: 9px;
    padding: 40px 35px;
    color: #adb3c4;
  }
  .ant-input[disabled] {
    background: #3e4452 !important;
  }
}
.swap-item-top {
  display: flex;
  .ant-select-selection {
    border-radius: 10px;
  }
}
.swap-item-top-left {
  display: inline-block;
  height: 36px;
  line-height: 26px;
  padding: 5px 12px;
  background: #2b2f3b;
  border: 1px solid #464648;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  .img-content {
    display: inline-block;
    width: 34px;
    line-height: 20px;
  }
  img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    object-fit: contain;
    vertical-align: top;
    margin-right: 10px;
  }
  .empty-pic {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
    border-radius: 10px;
    background: #243e48;
  }
  i {
    margin-left: 10px;
    color: #8c90a1;
  }
  .swap-item-top-left-name {
    padding: 0;
  }
}
.swap-item-top-right {
  width: 300px;
  margin-left: auto;
  &.swap-item-top-right-cycles {
    margin-top: 46px;
  }
}
.ic-swap-item-top-left {
  /*display: flex;
  align-items: center;*/
  width: 300px;
  > div {
    &:first-child {
      flex-shrink: 0;
    }
  }
  .input-cycles-select {
    width: 100%;
    margin-top: 10px;
  }
}
.swap-item-group {
  display: flex !important;
  align-items: center;
  background: #232730 !important;
  border: 1px solid transparent !important;
  color: #727a87;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    border: 1px solid #3aa8b5 !important;
  }
  &.disabled {
    background: #3e4452 !important;
    &:hover {
      border: 1px solid #464648 !important;
    }
  }
  input.input-icp-suffix {
    height: 34px !important;
    border: none !important;
    padding: 0 10px;
    background: transparent !important;
  }
  .suffix {
    padding-right: 15px;
    font-size: 12px;
    color: #8c90a1;
  }
}
.swap-item-bottom {
  display: flex;
  padding-top: 10px;
  color: #adb3c4;
}
.select-token {
  .ant-modal {
    background: #141b23;
  }
  .ant-modal-content {
    background: #141b23;
  }
  .ant-modal-header {
    background: #141b23;
  }
  .ant-modal-body {
    background: #141b23;
    padding: 10px 0 0 0 !important;
    border-radius: 20px 20px 0 0;
  }
}
.token-list-loading {
  height: 0px;
  width: 100%;
}
.swap-button {
  width: 100%;
  margin-top: 30px;
  button.large-primary {
    height: 48px;
  }
}
.exchange-swap-item {
  background: #13181d;
  border-radius: 9px;
  padding: 30px 50px;
  border: 1px solid #313b46;
  box-shadow: 0 0 10px 0 rgba(82, 183, 195, 0.3);
}
.add-liquidity-main,
.remove-liquidity-main,
.claim-liquidity-main {
  .exchange-swap-item {
    background: #141b23;
    border: 1px solid #313b46;
    box-shadow: 0 0 10px 0 rgba(82, 183, 195, 0.3);
    border-radius: 9px;
    padding: 30px 35px;
    color: #adb3c4;
    &.exchange-swap-item-icp {
      padding: 40px 35px;
    }
    &.exchange-swap-item-cycles {
      .exchange-swap-item-top-input {
        margin-left: auto;
        width: 310px;
        ::v-deep input {
          height: 36px;
          font-size: 16px;
          border: 1px solid #1e2429;
          background: transparent;
          text-align: right;
          color: #727a87;
        }
        ::v-deep input:focus {
          border: 1px solid #1e2429;
          box-shadow: none;
        }
        ::v-deep .ant-input-suffix {
          color: #727a87;
        }
      }
      input {
        width: 310px;
        height: 40px;
        font-size: 16px;
        text-align: left;
        &:last-child {
          text-align: right;
        }
        &.share-input {
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
.cycles-finance-tip {
  margin-top: 15px;
  color: #8c90a1;
}
.order-book-type-list-tooltip {
  .ant-tooltip-inner {
    padding: 6px 8px;
  }
}
.hide-order-book-type-list-tooltip .ant-tooltip-content {
  display: none;
}
.select-token-main {
  min-height: 300px;
  .select-token-input {
    padding: 0 30px;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 1px solid #383e4e;
    &:last-child {
      border-bottom: none;
    }
    &:hover,
    &.active {
      background: #06080b;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
    .img-content {
      width: 34px;
    }
    .empty-pic {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      margin-bottom: -4px;
      border-radius: 20px;
      background: #243e48;
    }
    img {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 20px;
      object-fit: contain;
      vertical-align: top;
    }
    dl {
      padding-right: 10px;
      dt {
        font-weight: normal;
      }
      dd {
        color: #fff;
        font-size: 12px;
      }
    }
    .select-token-balance {
      margin-left: auto;
    }
  }
}
.select-token-main {
  .select-token-title {
    color: #fff;
    font-size: 18px;
    padding: 40px 30px 20px 30px;
  }
  .select-token-input {
    padding: 0 30px;
  }
  .select-token-main-container {
    width: 100%;
    height: calc(100vh - 500px);
    margin-top: 30px;
    overflow-y: auto;
    /* border-bottom: 1px solid #383e4e;*/
  }
  .select-token-main-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  ul {
    display: table-row-group;
    margin-top: 20px;
    li {
      padding: 0;
      display: table-row;
      color: #8c90a1;
      > div {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 0;
      }
    }
  }
  dl {
    display: table-cell;
    vertical-align: middle;
    min-width: 100px;
    padding: 10px 0;
  }
  .img-content {
    padding: 10px 0 10px 30px;
    vertical-align: middle;
  }
  .select-token-balance {
    display: table-cell;
    text-align: right;
    padding: 10px 30px 10px 0;
    vertical-align: middle;
  }
}
.no-found {
  text-align: center;
  padding: 20px 30px;
}
.swap-progress-header {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #adb3c4;
}
.swap-progress-tip {
  text-align: center;
  color: #666;
  &.progress-step-active {
    color: #adb3c4;
  }
}
.swap-progress-main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .swap-progress-item-info {
    margin-top: 10px;
    text-align: center;
    &.swap-progress-item-info-progress {
      color: #adb3c4;
    }
  }
}
.progress-step {
  font-size: 16px;
  &.progress-step-active {
    color: #adb3c4;
  }
}
.swap-progress-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
}
.swap-progress-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.exchange-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 60px;
  margin: 60px auto 40px;
  background: #232730;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(82, 183, 195, 0.3);
  button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    background: #232730;
    transition: all 0.3s;
    &.active {
      background: #51b7c3;
      border-color: #51b7c3;
      color: #ffffff;
    }
  }
}
.exchange-swap-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: -4px auto;
  border-radius: 18px;
  background: #141b23;
  border: 2px solid #000;
  color: #fff;
  &.exchange-swap-icon-swap {
    .swap-icon {
      &:hover {
        font-size: 24px;
      }
    }
  }
  .swap-icon {
    transform: rotate(90deg);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    &.swap-icon-default {
      cursor: default;
      &:hover {
        font-size: 20px;
      }
    }
  }
}
span.exchange-swap-item-bottom-fee-share {
  cursor: pointer;
  color: #1996c4;
}
.swap-progress-item-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  background: #666;
  &.swap-progress-item-icon-progress {
    background: #1996c4;
  }
  .progress-check-circle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }
  i {
    color: #fff;
    font-size: 20px;
  }
  .progress-loading {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid #0f5fab;
    border-bottom-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 3s linear infinite;
  }
}
.withdraw-balance {
  margin-left: 5px;
  color: #1996c4;
  cursor: pointer;
  font-size: 14px;
}
.auto-withdraw {
  background: #141b23;
  border-radius: 9px;
  margin-top: 20px;
  padding: 15px 35px;
  .ant-checkbox-wrapper {
    color: #8c90a1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pair-deposit {
  display: flex;
  align-items: center;
  > div {
    padding-right: 10px;
  }
}
.el-slider__button-wrapper {
  z-index: 900;
}
@media screen and (max-width: 768px) {
  .ic-swap-main {
    width: 100%;
    .exchange-swap-item {
      padding: 30px 10px !important;
    }
  }
  .ic-swap-item-top-left,
  .swap-item-top-right {
    width: 49%;
  }
  .exchange-swap-item-top-allocable,
  .your-rewards {
    flex-direction: column;
    align-items: flex-start !important;
    line-height: 1.2;
  }
  .pair-deposit {
    flex-direction: column;
    align-items: flex-start;
    > div {
      padding: 0;
    }
  }
}
